/* NAVEGADOR */

nav {
  background-color: #f3c9cb;
}
.navegador {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lista {
  list-style: none;
  color: black;
  font-size: 15px;
}

/* HEADER */

#Hero-Section {
  background-image: url("../imgs/fondo-cabecera.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: block;
}
.foto-perfil{
  border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.contenedor {
  text-align: center;
  background-color: #373a3c;
  opacity: 70%;
  color: white;
}
.bienvenida {
  color: black;
}

/* EDUCACION */

.educacion {
  display: flex;
}